<section class="wrapper style1 align-center">
	<div class="inner">
		<h2>Segmentation</h2>

	    <p>There is a custom export button that supports </p>
	    
	</div>
</section>

<section class="wrapper style1 align-center">
	<div class="inner">
		<h2>Tokenization</h2>

	    <p>There is a custom export button that supports </p>

	</div>
</section>