<section class="wrapper style1 align-center">
	<div class="inner">
		<%=image_tag("pleco.jpg")%>

	    <p>There is a custom export button that supports </p>
	    
	</div>
</section>

<section class="wrapper style1 align-center">
	<div class="inner">
		<%=image_tag("pleco.jpg")%>

	    <p>There is a custom export button that supports </p>

	</div>
</section>