<section class="wrapper style1 align-center">
	<div class="inner">
		<%=image_tag("bcc.jpg")%>
		<h2>Word Frequencies</h2>
	    <p>I got the word frequencies from <a href = "#">this</a> Pleco forum thread, but they ultimately came from ....</p>
	    
	</div>
</section>

<section class="wrapper style1 align-center">
	<div class="inner">
		<%=image_tag("hsk.jpg")%>
		<h2>HSK Word Lists</h2>
	    <p>I used the 2012 HSK word lists that still only have 6 levels. The words lists came from <a href = "#">here</a></p>
	    
	</div>
</section>
