<section class = "wrapper style1 align-left input-text-new-section input-text-edit-section">

	<div class = "inner">
	
		<%= render partial: "form", locals: {user: @user, action: "new"} %>

	</div>

</section>