<section class = "wrapper style1 align-left input-text-new-section">

  <div class = "inner">

		<p>Welcome <%= @email %>!</p>

		<p>You can confirm your account email through the link below:</p>

		<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

	</div>
	
</section>

