<!-- Section -->
  <section>
    <header class="major">
      <h2>Resources</h2>
    </header>
    <div class="mini-posts">
      <article>
        <!-- <h3>Pleco</h3> -->
        <a href="#" class="image"><%=image_tag("pleco.jpg")%></a>
        <p>How to use this site with Pleco's flashcard feature</p>
      </article>
      <article>
        <!-- <h3>Word Lists</h3> -->
        <a href="#" class="image"><%=image_tag("bcc.jpg")%></a>
        <p>Where the word frequency information came from and a link to a Pleco forum where you can download them</p>
      </article>
      <article>
        <!-- <h3>HSK</h3> -->
        <a href="#" class="image"><%=image_tag("hsk.jpg")%></a>
        <p>The sources that were used for the HSK word lists and the methodology for determining HSK level of words that are not in the official lists.</p>
      </article>                    
    </div>
    <!--<ul class="actions">
      <li><a href="#" class="button">More</a></li>
    </ul> -->
  </section>

<!-- Section -->
  <section>
    <header class="major">
      <h2>Meet the developer</h2>
    </header>
    <p>If you have a question about the site or want to see other stuff by the developer</p>
    <ul class="contact">
      <li class="icon solid fa-envelope">jamesfrancismcglynn@gmail.com</li>
      <li class="icon solid fa-globe"><a href="https://www.james-mcglynn.info/" target="_blank">My Portfolio</a></li>
    </ul>
  </section>