<section class = "wrapper style1 align-left input-text-new-section input-text-edit-section">

	<div class = "inner">
	
		
		<% if current_or_guest_user.known_words.any? %>
			<h1>New Known Word</h1>
			<h3>Add a word</h3>
		<% else %>
			<h1>Welcome!</h1>
			<h3>Add a word</h3>
		<% end %>

		<%= render partial: "form", locals: {known_word: @known_word, action: "new"} %>

		<% if current_or_guest_user.known_words.any? %>
			<%= link_to "My Known Words", known_words_path, class: "button fit" %>
		<% end %>

	</div>

</section>